.card-img-top {
    height: 289px;
}
.song-img-container {
    text-align: center;
}
.card-info-block {
    display: inline-block;
}
.add-btn {
    margin-left: 7px;
}
.card-block {
    padding: 5px 1.25rem;
}
.green {
    color: green;
}
.red {
    color: green;
}