<% include header %>
  <h1>Вход</h1>
  <form action="/login" method="post">
    <div class="fieldset">
      <div>Логин</div>
      <div><input name="login"/></div>
    </div>
    <div class="fieldset">
      <div>Пароль</div>
      <div><input name="password"/></div>
    </div>
    <input type="submit" />
  </form>
<% include footer %>
